html, body{
    margin: 0;
    padding: 0; 
}
header{
    background-color: black;
    color: white;
    width: 100%;
    height: 60px; 
    position: fixed;
    /*z-index coloca o video para baixo do menu*/
    z-index: 10%;
    top: 0;
}
#logo{
    width: 96px;
    position: absolute;
    top: 0;
    margin-left: 5%; 
}
#menu{
    float: right;
    margin-right: 5%;
    list-style: none;
    top: 0;
}
li{
    float: left;
    padding: 20 10 20 10;
}
li:hover{
    background-color: rgb(18, 208, 233);
}
#imagem-fundo{
background: url("fundo.jpg");
height: 100%;
text-align: center;
background-size: cover;
}
#titulo{
    color: blue;
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
}
#subtitulo{
    color: blue;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid white;
    text-shadow: 1px 1px black;
}
#acao{
    color: black;
    border: 2px black solid;
    padding: 8px 20px 8px 20px;
}
.icone{
    width: 55px;
}
section{
    padding: 20px;
    float: left;
}
.destaque{
    background-color: #f7f7f7;
}
.imgeco{
    width: 90%;
    height: 30%;
}
#selecao{
    padding: 20px;
}

.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
.dois{
    width: 40%;
}
.quatro{ 
    width: 15%;
}
.tres{
    width: 29%;
    padding: 0 2%;
}
#sobre{
    width: 100%;
}
.justificado{
    text-align: justify;
}
.centralizado{
    text-align: center;
}

footer{
    background-color: rgb(18, 208, 233);
    float: left;
    width: 100%;
    height: 30%;
    color; white;
}
